[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.7"

[packages]
django = "==2.1"
psycopg2 = "==2.7.5"
channels = "*"

[dev-packages]
ipdb = "*"
